<div>
  <label>
    <input type="text" class="form-control" (keyup)='keyUp.next($event)'
           placeholder="Type any course name" />
  </label>
</div>
<div class="add-course">
  <div class="form-group">
    <button class=" form-control btn-dark" (click)="reRouteToCreatePage()">Add course</button>
  </div>
</div>
<div class="row">
  <ng-container *ngIf="!courseList; else elseTemplate">
    <div class="col-12 text-center">
      <div class="alert alert-danger" role="alert">
          <p>No data. Feel free to add new course</p>
      </div>
    </div>
  </ng-container>
  <ng-template #elseTemplate>
    <app-spinner-container [show]="loading" size="medium">
      <div class="container" *ngIf="courseList">
        <app-list-item (deleted)="removeCourse($event)"
                       *ngFor="let item of courseList | orderBy: '-date'"
                       [course]="item">
        </app-list-item>
        <div class="load-more">
          <button (click)="loadCourses()">LOAD MORE</button>
        </div>
      </div>
    </app-spinner-container>
  </ng-template>
</div>
