<div appBorderStyle date="creationDate" class="card" [ngClass]="{popular:course.topRated}">
  <header class="header">
    <div class="card-header">
      <div class="header-items">
        <span>{{course.title | uppercase}}</span>
        <span *ngIf="course.topRated" class="star"></span>
      </div>
      <div class="header-items">
        <div class="item">
          {{course.creationDate | date}}
        </div>
        <div class="item">
          {{course.duration | duration}}
        </div>
      </div>
    </div>
    <div class="description">
      <div>
        {{course.description}}
      </div>
    </div>
  </header>
  <div class="buttons">
    <div>
      <button>Edit</button>
    </div>
    <div>
      <button (click)="deleteCourse()">Delete</button>
    </div>
  </div>
</div>
